.news111{
    width: 1900px;
    height: 700px;
    background-color: #DEE0EE;
    position: relative;
}
.news222{
    width: 586px;
    height: 100px;
    position: absolute;
    margin-top: 70px;
    margin-left:700px;
}
.news333{
    font-size: 28px;
    color: rgba(16, 16, 16, 1);
    text-align: center;
}
.news444{
    width: 100%;
    height: 400px;
    float:left;
    position: absolute;
    left: 100px;
    top:150px;
}
.news4440{
   float:left;
   margin-left:40px;
}
.news44410{
    width: 100%;
    height: 100px;
    background-color: #01758f;
    position: relative;
}
.news44411{
    width: 100%;
    height: 100px;
    background-color: #3b9140;
    position: relative;
}

.news44412{
    width: 100%;
    height: 100px;
    background-color: #013c4e;
    position: relative;
}
.news44413{
    width: 100%;
    height: 100px;
    background-color: #942746;
    position: relative;
}
.news4441{
    width: 100%;
    height: 140px;
    background-color: #fff;
    position: relative;
}
.news{
    position: absolute;
    display: block;
    width: 50%;
    font-size: 20px;
    color:#fff;
    left: 10px;
    top: 10px;
 
}
.news4441 p{
    display: block;
    text-align: center;
    position: absolute;
    top: 30px;
    left:20px;

}
.news4440 img:hover{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s; 
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transition: scale(1.05);
    box-shadow: -10px 10px 15px #CCC;
    cursor: pointer;
}
