@media only screen and (max-width:500px){
    .AppHeader{
        position: relative;
        width: 400px;
        height: 75px;
    }
    .logo{
        width:60px;
        height:60px;
        position: absolute;
       left: 0px;
    }
    .AppHeader-Title{
        position: absolute;
        top: 20px;
        left: 14px;
        width: 400px;
        margin: 0 auto;
       
    }
    .AppHeader-Title h2{  
        color: #006284;
        font-weight: bold;
        font-size: 20px;
    }
    .AppHeader-Rank{
        position: absolute;
        top: 102px;
        left: 70px;
        background-color: rgb(0,144,213);
        display:none
    }
    .AppHeader span{
        color: #fff;
        font-size: 18px;
    }
    .AppHeader-Login{
         position: absolute;
         top: 102px;
         right: 80px;
         background-color: rgb(0,144,213);
         display: none
    }
    }
    @media only screen and (min-width:500px){
         .AppHeader{
            position: relative; 
            margin: 0 auto;
            border-left:1.5px solid #ebebeb;
            border-right:1.5px solid #ebebeb;
            background-color: aliceblue;
            height:120px;
            width:1400px;
            overflow: auto;
        }
        .logo{
            width:60px;
            height:60px;
            position: relative;
            left: -10px;
            top:20px
        }
        .AppHeader-Title{
            position: absolute;
            top: 22px;
            left: 120px;
            font-size:28px
        }
        .AppHeader h2{
            font-size: 32px;
            color: #006284;
            font-weight: bold;
        }
        h5{
           font-size:18px;  
           color: #006284;
        }
        .AppHeader-Rank{
            position: absolute;
            top:52px;
            right: 200px;
            //vertical-align: 0
        }
        .AppHeader-Rank a{
            list-style: none;
            color: #006284;
            font-weight: bold;
            font-size: 20px;
            display: block;
            text-decoration: none;
        }
        .AppHeader-Rank a:hover{
            background-color: rgb(120, 174, 199);
            color: #fff;
        }
        .AppHeader-Login{
            position: absolute;
            top:52px;
            right: 50px;
        }

        .AppHeader-Login a{
            list-style: none;
            color: #006284;
            font-weight: bold;
            font-size: 20px;
            display: block;
            text-decoration: none;
        }
        .AppHeader-Login a:hover{
           //border-radius: 700%;
            background-color: rgb(120, 174, 199);
            color: #fff;
        } 

        .logo{
            width:70px;
            height:70px;
            margin-top:-10px;
            margin-left: 10px;
        }
        .nav {
            margin-left: 20px;
            padding-top: 16px;
            position: absolute;
            z-index: 99999;
            width:600px;
        }
        .nav li {
            list-style-type: none;
            float: left;
            margin-left:20px;
            text-align: center;
            line-height: 30px;
            font-family: Roboto;
            font-size: 20px;
            color:rgba(16,16,16,1);
            border:1px solid rgba(255,255,255,0)
        }
    
    }