
.AppHeader{
    height:100px;
    width:100%;
   
}
.logo{
    width:60px;
    height:60px
}
.nav {
    margin-left: 80px;
    padding-top: 20px;
    position: absolute;
    z-index: 99999;
}

.nav li {
    list-style-type: none;
    float: left;
    margin-left:30px;
    text-align: left;
    line-height: 30px;
    font-family: "微软雅黑";
}
.main{
    margin-left:1200px;
    padding-top: 20px;
    position: absolute;
}
.main li{
    list-style-type: none;
    float: left;
    text-align: left;
    line-height: 30px;
    margin-left:30px;
    font-family: "微软雅黑";
}
.photo{
    width:40px
}