@media only screen and (max-width:800px){
  .Calender000{
    width: 400px;
    height: 600px;
    background-color: #DEE0EE;
    position: relative;
    margin: 0 auto;
  }
  .Calender111{
   width: 350px;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-radius: 4;
    background-color: #fff;
    position: absolute;
    left: 15px;
    top:50px;
  }
  .Calender000 p{
     display: block;
     font-size: 28px;
     color: black;
     opacity: 0.5;
     position: absolute;
    left: 140px;
  }
  .Calender222 p{
    display: block;
    font-size: 28px;
    color: black;
    opacity: 0.5;
    position: absolute;
    top: 380px;
    left: 100px;
    //margin: 0 auto;
  }
  .Calender2223{
     position: absolute;
     top: 430px;
     left: 100px;
  }
  .Calender2223 li{
    font-size: 18px;
    padding-top: 10px;
  }
}
@media only screen and (min-width:800px){
.Calender000{
  width: 1400px;
  height: 500px;
  background-color: #DEE0EE;
  position: relative;
  margin: 0 auto;
}
.Calender111{
  width: 20%;
  height: 65%;
  border: 1px solid #d9d9d9;
  border-radius: 4;
  background-color: #fff;
  position: absolute;
  left: 140px;
  top:50px;
}
.Calender000 p{
   display: block;
   font-size: 28px;
   color: black;
   opacity: 0.5;
   position: absolute;
  left: 140px;
}
.Calender222 p{
  display: block;
  font-size: 28px;
  color: black;
  opacity: 0.5;
  position: absolute;
  left: 700px;
}
.Calender2223{
   position: absolute;
   top: 50px;
   left: 730px;
}
.Calender2223 li{
  font-size: 18px;
  padding-top: 10px;
}
}