.AppCompete {
   left:10px;
   width:1400px;
   margin: 0 auto;
   background-color: #DEE0EE;
}
.compete li{
    list-style-type: none;
    float: left;
   text-align: center;
    line-height: 30px;
    font-family: "微软雅黑";
    margin-right:5px;
}
.itd{
    font-size:28px;
    color:rgba(255,255,255,1);
    text-align: left;
    margin-left:25px;
    line-height: 60px;
}
.more{
    width:360px;
    height:60px;
    color:rgba(0,59,77,1);
    font-size:16px;
    text-align:center;
    margin-top:-60px;
    margin-left:22px;
    z-index: 9999;
    background-color:rgba(255,255,255,1)
    
}
.card{
    background-color:rgba(46,133,176,1);
    width:400px;
    height:308px;
    font-family:Roboto;
     margin-left:0;
     :hover{
        transition: 0.5s;
        cursor: pointer;
        transform: translateY(-10px);
        &.imgs1{
            -webkit-filter: blur(9px);
            filter: blur(9px);
        }
    }
}
.tab{
   text-align: center;
}
